@import url("https://fonts.googleapis.com/css2?family=Marmelad&display=swap");

.App {
  font-family: sans-serif;
  text-align: center;
  font-family: "Marmelad", sans-serif;
  background-color: papayawhip;
  max-width: 650px;
  margin: auto;
}

.heading {
  padding: 1rem;
}

.instruction {
  padding: 1rem;
}

#billbtn {
  width: 50%;
  height: 1rem;
  padding: 1rem;
  margin: 2rem;
}

#cashbtn {
  width: 50%;
  height: 1rem;
  padding: 1rem;
  margin: 1rem;
}

#calculate {
  padding: 0.5rem;
  margin: 1rem 0rem 1rem 0rem;
  width: 40%;
  height: 3rem;
  border-color: black;
  background-color: greenyellow;
}

#error-message {
  padding-bottom: 1rem;
}

.output {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 0.2rem;
  margin: 0rem 2rem;
  position: relative;
}

.tcolumn {
  border: 2px solid black;
}

.trow {
  border: 2px solid black;
}

.elements {
  border: 2px solid black;
  width: 5rem;
  height: 3rem;
  margin-top: 1rem;
  text-align: center;
}

.trow1,
.header {
  background-color: lightcyan;
  width: 4.5rem;
}

.footer {
  padding: 1rem 0;
  text-align: center;
}

.footer-header {
  padding: 1rem 0;
  font-weight: bolder;
  font-size: x-large;
}

.footer-ul-links {
  padding-left: 0px;
}

.lists-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

.footer-links {
  color: #000;
  text-decoration: none;
  padding-left: 0;
}

.icons {
  padding: 0 0.5rem;
}
